html, body {
 font-family: calibri;
 background-color: #fff;
}

.mytables {
 position: relative;
 border-collapse: collapse;
}
.mytables th, .mytables td {
 border: 1px solid #ddd;
 padding: 1vh;
 background-color: #fff;
}



.column-header {
 cursor: pointer;
}
.row-header {
 cursor: pointer;
}

div.conatiner {
 overflow:visible;
}



thead {
  /* position: sticky; 
  top: 0; */
}
thead:first-child {
  /* left: 0;
  z-index: 1; */
}
tbody th {
  position: sticky;
  left: 0;
}

.row-header {
  background-color: #999;
}


td.no-highlight {
  background-color: #fff;
}
th.no-highlight {
  background-color: #fff;
}

.mytables th.highlight {
  background-color: #c2d1f0;
}
.mytables td.highlight {
  background-color: #c2d1f0;
}

.triangle-down {
    width: 0;
    height: 0;
    margin: 0.25vh;
    margin-top: 0.5vh;
    margin-right: 0.5vh;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #3366cc;
    font-size: 0;
    line-height: 0;
    float: left;
}
.triangle-right {
    width: 0;
    height: 0;
    margin: 0.25vh;
    margin-left: 0.5vh;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #3366cc;
    font-size: 0;
    line-height: 0;
    float: right;
}
